.app-main {
    width: 70%;
    height: 100vh;

    &__note-edit {
        height: 50vh;
        padding: 25px;

        & input,
        textarea {
            display: block;
            border: 1px solid #ddd;
            margin-bottom: 20px;
            width: 100%;
            height: calc(50vh - 130px);
            padding: 5px;
            resize: none;
            font-size: 1rem;
        }

        & input {
            height: 50px;
            font-size: 2rem;
        }
    }

    &__note-preview {
        height: 50vh;
        border: 1px solid #ddd;
        overflow-y: scroll;
        background: rgba(0, 0, 0, 0.04);
    }
}

.preview-title {
    padding: 25px 25px 0 25px;
    margin: 0;
}

.markdown-preview {
    padding: 0 25px 25px 25px;
    line-height: 2rem;
}

.no-active-note {
    width: 70%;
    height: 100vh;
    line-height: 100vh;
    text-align: center;
    font-size: 2rem;
}
